<!DOCTYPE html>
<html>

	<meta charset="UTF-8">
	<link href="reset.css">
	<link rel="stylesheet" href= "../css/style.css">
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"> -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>Flash Roulette</title>
	
<head>
	<title>
		
	</title>
</head>
<body>

{{{body}}}

<script type="text/javascript">

//--------------------------------------------------------------------------------------------------------
// var money = 0;

// $("#moneyDisplay").html("$" + money);

$("#addBtn").click(function(event){
	money += $("#addMoney").val().trim();
	$("#moneyDisplay").html("$" + money);
});

//ATTRIBUTING VALUES TO CHIPS-----------------------------------------------------------------------------
$("#chip1").attr("data-chipvalue", 1);
$("#chip5").attr("data-chipvalue", 5);
$("#chip10").attr("data-chipvalue", 10);
$("#chip25").attr("data-chipvalue", 25);

//DRAGGING FUNCTIONS---------------------------------------------------------------------------------------
  // $( function() {
  //   $( "#chip1" ).draggable({
  //   	preventCollision: true,
  //   	containment: "document",
  //   	snap: ".red,.black,.green,.corner,.split",
  //   	snapMode: "inner"});
  // } );

  //   $( function() {
  //   $( ".chips, #draggable-nonvalid" ).draggable();
  //   $(".red,.black,.green,.corner,.split").droppable({
  //       accept: '.chips',
  //       drop: function(event, ui) {
  //       	$(this).addClass(".droppable");
  //           $(this).append(ui.draggable);
  //       }
  //   });
  // });

    $( function() {
    $( ".chips, #draggable-nonvalid" ).draggable();
    $(".red,.black,.green,.corner,.split,#twelve-1st,#twelve-2nd,#twelve-3rd,#EO-odd,#EO-even,#color-red,#color-black,#half-front,#half-back").droppable({
    over: function(event, ui) {
        console.log('You are over item with id ' + this.id);
    }
 });
});

//CREATING CORNER BETS------------------------------------------------------------------------------------
//FIRST ROW---------------------------
	var j = 1;
	var marginLeft = 75;

	for (var i=0; i<11; i++){
		var newBox = $("<div>");
		newBox.addClass("corner");
		newBox.css("margin-top", "-225px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+1, j+3, j+4];
		var idStr = idArr.join("&");
		idStr = "corner-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}
//SECOND ROW---------------------------
	j = 2;
	marginLeft = 75;

	for (var i=0; i<11; i++){
		var newBox = $("<div>");
		newBox.addClass("corner");
		newBox.css("margin-top", "-125px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+1, j+3, j+4];
		var idStr = idArr.join("&");
		idStr = "corner-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}


	//CREATING split BETS---------------------------------------------------------------------
    //FIRST ROW-----------------------------------------------------------------------------------
	j = 1;
	marginLeft = 75;

	for (var i=0; i<11; i++){
		var newBox = $("<div>");
		newBox.addClass("split");
		newBox.css("margin-top", "-275px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+3];
		var idStr = idArr.join("&");
		idStr = "split-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}
    //SECOND ROW----------------------------------------------------------------------------------
	j = 2;
	marginLeft = 75;

	for (var i=0; i<11; i++){
		var newBox = $("<div>");
		newBox.addClass("split");
		newBox.css("margin-top", "-175px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+3];
		var idStr = idArr.join("&");
		idStr = "split-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}
    //THIRD ROW----------------------------------------------------------------------------------
	j = 1;
	marginLeft = 25;

	for (var i=0; i<12; i++){
		var newBox = $("<div>");
		newBox.addClass("split");
		newBox.css("margin-top", "-225px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+1];
		var idStr = idArr.join("&");
		idStr = "split-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}

	j = 3;
	marginLeft = 75;
    //FIFTH ROW-----------------------------------------------------------------------------------
	for (var i=0; i<11; i++){
		var newBox = $("<div>");
		newBox.addClass("split");
		newBox.css("margin-top", "-75px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+3];
		var idStr = idArr.join("&");
		idStr = "split-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}
	//FOURTH ROW------------------------------------------------------------------------------------
	j = 2;
	marginLeft = 25;

	for (var i=0; i<12; i++){
		var newBox = $("<div>");
		newBox.addClass("split");
		newBox.css("margin-top", "-125px");
		marginLeft+=(100);
		newBox.css("margin-left", marginLeft + "px");
		var idArr = [j, j+1];
		var idStr = idArr.join("&");
		idStr = "split-" + idStr;
		newBox.attr("id", idStr);
		$("#tablewrap").append(newBox);
		j+=3;

	}

</script>

</body>
</html>